* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --background-color: #1e1e2e;
  --sidebar-color: #181825;

  --card-background-color: #313244;
  --card-text-color: #fff;
  --btn-text-color: #11111b;
  --card-border-color: #45475a;
  --text-color: #cdd6f4;
  --label-color: #a6adc8;

  --primary-color: #89b4fa;
  --primary-hover-color: #b4befe;
  --secondary-color: #a6e3a1;
  --secondary-hover-color: #94e2d5;
  --danger-color: #f38ba8;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 350px;
  background-color: var(--sidebar-color);
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid var(--card-background-color);
}
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

h2 {
  margin-top: 0;
  color: var(--primary-color);
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-group label {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--label-color);
}
.input-group input {
  padding: 8px;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  color: var(--text-color);
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}
.primary-btn {
  background-color: var(--primary-color);
  color: var(--btn-text-color);
  width: 100%;
  font-size: 1.1em;
}
.primary-btn:hover {
  background-color: var(--primary-hover-color);
}
.secondary-btn {
  background-color: var(--secondary-color);
  color: var(--btn-text-color);
}
.secondary-btn:hover {
  background-color: var(--secondary-hover-color);
}
.danger-btn {
  background-color: var(--danger-color);
  color: var(--btn-text-color);
  padding: 5px 10px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.card {
  background-color: var(--card-background-color);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--card-border-color);
  position: relative;
}
.card input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  background: var(--background-color);
  border: 1px solid var(--card-border-color);
  color: var(--card-text-color);
}
.card-actions {
  text-align: right;
}

#status-msg {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}
.success {
  color: var(--secondary-color);
}
.error {
  color: var(--danger-color);
}

.header-row {
  padding-bottom: 15px;
}
